asgiref==3.6.0
Django==4.1.5
django-environ==0.11.2
djangorestframework==3.14.0
gunicorn==21.2.0
Jinja2==3.1.2
MarkupSafe==2.1.2
packaging==24.0
Pillow==9.5.0
python-dotenv==1.0.1
pytz==2022.7
PyYAML==6.0
render==1.0.0
sqlparse==0.4.3
tzdata==2022.7
